- content_for :navbar do
  = render :partial => 'navbar'

.row
  .span5.offset1
    %h1 Game with XYZ
    %h3#status-head Prepare for battle
  .span5.user-label
    %p Signed in as Ninja Burger
.row
  .span10.offset1
    %hr
    #board-tabs.tabbable
      %ul.nav.nav-tabs
        %li#remote= link_to "XYZ's board", '#show_remote'
        %li#local.active= link_to "Your board", '#show_local'
    #game-canvas
      /noempty
    #game-info
      #game-prepare
        .info-head
          %strong Prepare your fleet!
        .info-section
          Drag the ships into the battlefield using your mouse.
          Valid squares are green.
          %br
          Double click to rotate a ship (only works in staging area).
        .info-section
          = link_to 'Start game', '#', :class => 'btn btn-success disabled', :id => 'start-btn'
        .info-section
          = link_to 'Place ships (debug)', '#', :class => 'btn', :id => 'debug-ships'
      #game-status
        .info-head Your status
        .info-count
          %strong
            Ships left:
            %span#ship-count
        .info-count
          Carriers:
          %span#carrier-count
        .info-count
          Battleships:
          %span#battleship-count
        .info-count
          Destroyers:
          %span#destroyer-count
        .info-count
          Subs:
          %span#sub-count
        .info-section
          .info-head Game history
          .well
            %ul#game-log
        .info-section
          = link_to 'Admit defeat', '#', :class => 'btn btn-danger'

.row
  .span10.offset1
    %hr
    %p Maybe a chat area? (if there is time)
