- content_for :navbar do
  = render :partial => 'navbar'

.row
  .span5.offset1
    %h1 Game with XYZ - Replay
    %h3 You won!
  .span5.user-label
    %p Signed in as Ninja Burger
.row
  .span10.offset1
    %hr
    .tabbable
      %ul.nav.nav-tabs
        %li.active= link_to "XYZ's board", '#remote', 'data-toggle' => 'tab'
        %li= link_to "Your board", '#local', 'data-toggle' => 'tab'
      .tab-content
        #remote.tab-pane.active
          /empty
        #local.tab-pane
          /empty
    #game-canvas
      /noempty
    #reply-panel
      .info-head Turn 4
      .info-history
        .info-head Game history
        .well
          %ul
            %li= log('XYZ', 3, 5, 'missed')
            %li= log('You', 4, 4, 'you hit!')
            %li= log('<b>XSS</b>', 5, 5, 'test') 
            %li more log lines...
            %li more log lines...
            %li lorem
            %li ipsum
            %li etc
      .btn-group
        .btn= link_to 'Previous', '#'
        .btn= link_to 'Resume replay', '#'
        .btn= link_to 'Next', '#'
.row
  .span10.offset1
    %hr
    %p Maybe a chat history area? (if there is time)
